body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Contenedor principal */
h1 {
    color: #007BFF;
    margin-top: 20px;
    font-size: 2.5em;
}
h2{
    color: #000000;
    margin-top: 20px;
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #0056b3;
}

/* Imagen de los departamentos */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    a {
        padding: 8px 15px;
    }
}